.header {
    display: flex;
    padding: 0 20px 0 20px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.header .logo {
    width: 60vw;
    margin-left: 45px;
}

.header .nav-bar {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.header .nav-bar .nav-item {
    margin: 10px;
    white-space: nowrap;
}

.header .nav-bar a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
    color: rgb(108, 116, 110);
}

@media (max-width: 670px) {
    .header .nav-bar {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .logo {
        width: unset;
        margin-left: unset;
    }
}