.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .item {
    display: flex;
}

.features .icon img {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.features .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.features .title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(108, 116, 110);
    font-size: x-large;
    font-weight: 700;
    padding-bottom: 2px;
}

.features .description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(108, 116, 110);
    font-size: 15px;
}
