#header {
    display: flex;
    margin: 25px 100px 25px 100px;
}

#header .logo {

}

#header #header-img  {
    width: 150px;
}

#header #nav-bar {
    display: flex;
}

#header #nav-bar .nav-item {
    padding: 10px;
}

#header #nav-bar a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: rgb(108, 116, 110);
}